<!-- Navbar do aplicativo -->
<nav class="navbar">
  <div class="container">
    <a routerLink="/home" class="navbar-brand">Clínica Médica</a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="/home" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a routerLink="/pacientes" class="nav-link">Pacientes</a>
      </li>
      <li class="nav-item">
        <a routerLink="/funcionarios" class="nav-link">Funcionários</a>
      </li>
      <li class="nav-item">
        <a routerLink="/convenios" class="nav-link">Convênios</a>
      </li>
      <li class="nav-item">
        <a routerLink="/consultas" class="nav-link">Consultas</a>
      </li>
    </ul>
  </div>
</nav>